{% extends 'home.html' %}

{% block content %}
<!-- <meta http-equiv="refresh" content="60; "> -->
<!-- URL=http://www.baidu.com/ -->

<br>
<br>
<br>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{title}}
      </h3>
    </div>



  </div>
</div>

<div class="panel panel-default">
  <div class="container">
    <form method="post" enctype="multipart/form-data" novalidate>
      {% csrf_token%}
    <div class="col-xs-12 col-md-12">
  
      <p>
      <table bgcolor="" border="1" class="table table-hover">
        <thead>
          {% for col in cols %}
          <th align="center">{{col.age}}</th>
  
          {% endfor %}
          <!-- <th>img</th>
          <th><a class="btn btn-primary btn-xs" href="/home/{{title}}_add?ident={{request.session.info.ident}}">{{title}}新建</a></th> -->
        </thead>
  
        <tbody>
          {% for obj in data%}
         
          <tr>
            {% for cell in obj%}
            <td bgcolor="" align="center">{{cell|safe}}</td>  
            
            {% endfor %}  
            <td bgcolor="#008000" align="center" width="100">
              {% with 变量=forloop.counter %}           
  
              {% for field in form %}
              {% if forloop.counter == 变量 %}
               
                     {{field}}
                  
              
              {% endif %}
          {% endfor %}
          {% endwith %}
        </td>
  
    
            </tr>
  
  
          </tr>

          {% endfor %}
        </tbody>
        {{form.date|safe}}
      </table>
      </p>
    </div>


  
         
 
      
        <button type="submit" class="btn btn-primary ">提交</button> 

        <a href="/home/wxpzxti_reload" class="btn btn-primary">重新出题</a>


      </form>
    </div>
  </div>
  </div>
  
  



{% endblock content %}
